<mat-card>
    <mat-card-header>
        <mat-card-title>SDS Tournament login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>E-mail</mat-label>
                    <input autocomplete="off" formControlName="email" type="email" matInput autofocus>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" type="password" matInput>
                </mat-form-field>
            </p>            
            <button mat-raised-button color="primary" style="width: 100%;">Login</button>
        </form>
    </mat-card-content>
</mat-card>
