<div class="flex-column-center card" 
    [style.background-color]="backgroundColor$ | async" 
    [style.color]="color$ | async">
    <div class="flex-row-wrap flex-child-grow hide-when-landscape">
        <span class="score upside-down">{{ score }}</span>
    </div>
    <div class="line hide-when-landscape"></div>
    <div class="flex-row-wrap flex-child-grow">
        <span class="score">{{ score }}</span>
    </div>
    <div class="flex-row-wrap">
        <span class="name">{{ displayName$ | async }}</span>
    </div>
</div>