<mat-toolbar>
    <span *ngIf="(currentGameService.state$ | async)===currentGameService.stateInProgress()">
        <span >Serves</span>
    </span>
    <span class="glow" *ngIf="((currentGameService.state$ | async)||-1)>=currentGameService.stateFinished()">
        Wins
    </span>
    <span class="spacer">
        <app-player-card [displayNameProvider]="currentGameService.displayNameProvider" [player]="currentGameService.serverPlayer$ | async"></app-player-card>
    </span>
    <button  
        mat-icon-button 
        (click)="currentGameService.history.undo()"
        [disabled]="currentGameService.history.empty$ | async">
        <mat-icon>undo</mat-icon>
    </button>
    <button 
        mat-raised-button
        (click)="currentGameService.save()"
        [class.glow]="(currentGameService.state$ | async)===currentGameService.stateFinished()"
        [disabled]="(currentGameService.state$ | async)!==currentGameService.stateFinished()">
        <mat-icon>save_alt</mat-icon>
    </button>
</mat-toolbar>
<div class="flex-row-nowrap scores">
    <app-score-card
        [displayNameProvider]="currentGameService.displayNameProvider"
        [player]="currentGameService.leftPlayer" 
        [score]="currentGameService.leftScore$ | async" 
        (click)="currentGameService.incrementLeftScore()">
    </app-score-card>
    <app-score-card
        [displayNameProvider]="currentGameService.displayNameProvider"
        [player]="currentGameService.rightPlayer" 
        [score]="currentGameService.rightScore$ | async" 
        (click)="currentGameService.incrementRightScore()">
    </app-score-card>
</div>
