<mat-toolbar>
    <button mat-icon-button matTooltip="Go Back" (click)="back()"><mat-icon>arrow_back</mat-icon></button>
    <span class="spacer"></span>
    <span>Select right player</span>
</mat-toolbar>
<app-player-card 
    *ngFor="let player of playersService.playerList$ | async"
    [playerPropertyProvider]="playerPropertyProvider"
    [player]="player" 
    [hideIfPlayer]="currentGameService.leftPlayer"
    (click)="selectPlayer(player)">
</app-player-card>
<p>Left player</p>
<app-player-card 
    [playerPropertyProvider]="playerPropertyProvider"
    [player]="currentGameService.leftPlayer">
</app-player-card>
<app-add-player-button></app-add-player-button>
