<div class="fullscreen flex-column-stretch">
<mat-toolbar>
   <img src="favicon.ico" matTooltip="SDS Tournament" style="padding-right: 10px">
   <app-navigation-button matTooltip="New game" icon="people_outline" [path]="paths.newLeft" [active$]="newActivated$"></app-navigation-button>
   <app-navigation-button matTooltip="Current game" icon="play_circle_outline" [path]="paths.play" [active$]="playActivated$"></app-navigation-button>
   <app-navigation-button matTooltip="List results" icon="format_list_bulleted" [path]="paths.results" [active$]="resultsActivated$"></app-navigation-button>
   <app-navigation-button matTooltip="Statistics" icon="query_stats" [path]="paths.statistics" [active$]="statisticsActivated$"></app-navigation-button>
   <span class="spacer"></span>
   <app-navigation-button matTooltip="Manage players" icon="contacts" [path]="paths.players" [active$]="playersActivated$"></app-navigation-button>
   <app-navigation-button matTooltip="Logout" icon="logout" [path]="paths.logout" confirm="Logout?"></app-navigation-button>
</mat-toolbar>
<router-outlet></router-outlet>
</div>