<mat-toolbar>
    <div class="flex-row-nowrap">
        <input #from placeholder="From" maxlength="16"/>
        <input #to placeholder="To" maxlength="16"/>
        <button mat-icon-button (click)="onFilter()"><mat-icon>search</mat-icon></button>
        <button mat-button (click)="onClickDay()">Day</button>
        <button mat-button (click)="onClickMonth()">Month</button>
        <button mat-button (click)="onClickYear()">Year</button>
        <button mat-button (click)="onClickAll()">All</button>
    </div>
</mat-toolbar>
