.round-corner
    padding: 1px 5px 1px 5px
    margin: 1px 5px 1px 5px
    border-radius: 5px

.fullscreen
    width: 100%
    height: 100%
    margin: 0px
    padding: 0px
    border: 0px

.flex-row-wrap
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center

.flex-row-nowrap
    flex-shrink: 1
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: center
    white-space: nowrap
    overflow-x: auto

.flex-column-stretch
    width: 100%
    display: flex
    flex-direction: column
    align-items: stretch

.flex-column-center
    display: flex
    flex-direction: column
    align-items: center

.flex-child-grow
    flex-grow: 1

.spacer
  flex: 1 1 auto

.title-center
    width: 100%
    text-align: center  

.title-left
    width: 100%
    text-align: left      