<mat-toolbar>
    <button mat-icon-button matTooltip="Go Back" (click)="back()"><mat-icon>navigate_before</mat-icon></button>
    <span class="left-right-spacer"></span>
    <span>New game: first player</span>
    <span class="left-right-spacer"></span>
</mat-toolbar>
<div class="flex-row-nowrap" style="width: 100%;">
    <app-player-card 
        [playerPropertyProvider]="playerPropertyProvider"
        [player]="currentGameService.leftPlayer" 
        [large]="true"
        style="flex-basis: 50%;" 
        (click)="selectPlayer(currentGameService.leftPlayer)">
    </app-player-card>
    <app-player-card 
        [playerPropertyProvider]="playerPropertyProvider"
        [player]="currentGameService.rightPlayer" 
        [large]="true"
        style="flex-basis: 50%;" 
        (click)="selectPlayer(currentGameService.rightPlayer)">
    </app-player-card>
</div>
